<!DOCTYPE html>
<html lang="en">
<head>
  <title>Andromeda coffee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Andromeda coffee shop</h1>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('main') }}">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('add_card') }}">Add card drink</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Modify
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('modify_drink') }}">Modify drink</a></li>
              <li><a href="{{ url_for('modify_food') }}">Modify food</a></li>
              <li><a href="{{ url_for('modify_inventory') }}">Modify inventory</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualize
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('visualize_tranzactions') }}">Visualize tranzactions</a></li>
            <li><a href="{{ url_for('visualize_drinks') }}">Visualize drinks</a></li>
            <li><a href="{{ url_for('visualize_food') }}">Visualize food</a></li>
            <li><a href="{{ url_for('visualize_inventory') }}">Visualize inventory</a></li>
            <li><a href="{{ url_for('visualize_cards') }}">Visualize cards</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h3>Welcome to the administrator panel!</h3>
      <div class="w3-panel w3-leftbar w3-light-grey">
        <p><i>"Here you can add a card, modify products, or visualize the databse.</i></p>
      </div>
    </div>
  </div>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
