<style>
    body {
        background-image:  url('https://i.ibb.co/nm0vJ8K/fundal.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<head>
        <link rel="stylesheet" href='/static/form.css' />
</head>
<div class="form-style-10">
    <h1 style="background:#9A6D68; text-align: center">Adăugare băutură</h1>
    <form method="POST">
        <div class="section"><span>1</span></div>
        <div class="inner-wrap">
            <label>Nume<input name="nume" type="text" /></label>
            <label>Preț  <input name="pret" type="text" /></label>
        <div class="button-section">
            <input style="background: rgb(211, 88, 135)" type="submit" name="Add" />
            <span class="privacy-policy">
            <input type="checkbox" name="field7">You agree to our Terms and Policy. 
            </span>
        </div>
        </form>
</div>