<style>
    body {
        background-image:  url('https://i.ibb.co/FbP5hRs/main.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h1 style="background: #9A6D68;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #9A6D68;
    text-align: center">Administrarea cafenelei </h1>
<h2 style="color: #814413;">Alegeți una dintre următoarele opțiuni:</h2>

<table>
<tbody>
<tr>
<td style="text-align: left">
    <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">

    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://i.ibb.co/drmkCKV/a60e33c587e3ca6f465d11d3909dfcfd-resize.jpg" alt="Word to html" width="45" /> <a href = "{{ url_for('selectare_bautura') }}">Vizualizare toate băuturile</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://image.flaticon.com/icons/png/512/440/440220.png" alt="Word to html" width="42" /> <a href = "{{ url_for('selectare_mancare') }}">Vizualizare toate mâncărurile</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/market-economy-3/512/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-512.png" alt="Word to html" width="45" /> <a href = "{{ url_for('selectare_inventar') }}">Vizualizare tot inventarul</a></li>
    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://i.ibb.co/K94X3C5/imgbin-crowd-drawing-cartoon-community-bbw-NF44k-Fdxv-LTe3ejt-Bik-Wz8.jpg" alt="Word to html" width="45" /> <a href = "{{ url_for('selectare_clienti') }}">Vizualizare toți clienții</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="Word to html" width="45" /> <a href = "{{ url_for('selectare_tranzactii') }}">Vizualizare tranzacții</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/market-economy-3/512/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-512.png" alt="Word to html" width="45" /> <a href = "{{ url_for('selectare_backup_produse') }}">Vizualizare backup produse</a></li>

    <li style="clear: both;"><img style="float: left;  border-radius: 50%" src="https://i.ibb.co/drmkCKV/a60e33c587e3ca6f465d11d3909dfcfd-resize.jpg" alt="interactive connection" width="45" /> <a href = "{{ url_for('inserare_bautura') }}">Adăugare băutură</a></li>
    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://image.flaticon.com/icons/png/512/440/440220.png" alt="interactive connection" width="42" /> <a href = "{{ url_for('inserare_mancare') }}">Adăugare mâncare</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/market-economy-3/512/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-512.png" alt="interactive connection" width="45" /> <a href = "{{ url_for('inserare_inventar') }}">Adăugare materie primă inventar</a></li>
    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://i.ibb.co/K94X3C5/imgbin-crowd-drawing-cartoon-community-bbw-NF44k-Fdxv-LTe3ejt-Bik-Wz8.jpg" alt="interactive connection" width="45" /> <a href = "{{ url_for('inserare_clienti') }}">Adăugare client</a></li>

    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://i.ibb.co/drmkCKV/a60e33c587e3ca6f465d11d3909dfcfd-resize.jpg" alt="html cleaner" width="45" /> <a href = "{{ url_for('stergere_bautura') }}"> Ștergere băutură</a></li>
    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://image.flaticon.com/icons/png/512/440/440220.png" alt="html cleaner" width="42" /> <a href = "{{ url_for('stergere_mancare') }}"> Ștergere mâncare</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/market-economy-3/512/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-512.png" alt="html cleaner" width="45" /> <a href = "{{ url_for('stergere_inventar') }}"> Ștergere din inventar</a></li>
    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://i.ibb.co/K94X3C5/imgbin-crowd-drawing-cartoon-community-bbw-NF44k-Fdxv-LTe3ejt-Bik-Wz8.jpg" alt="html cleaner" width="45" /> <a href = "{{ url_for('stergere_clienti') }}"> Ștergere client</a></li>

    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://i.ibb.co/drmkCKV/a60e33c587e3ca6f465d11d3909dfcfd-resize.jpg" alt="Word to html" width="45" /> <a href = "{{ url_for('modificare_bautura_nume') }}">Modificare nume băutură</a></li>
    <li style="clear: both;"><img style="float: left; border-radius: 50%" src="https://i.ibb.co/drmkCKV/a60e33c587e3ca6f465d11d3909dfcfd-resize.jpg" alt="Word to html" width="45" /> <a href = "{{ url_for('modificare_bautura_pret') }}">Modificare preț băutură</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://image.flaticon.com/icons/png/512/440/440220.png" alt="Word to html" width="42" /> <a href = "{{ url_for('modificare_mancare_nume') }}">Modificare nume fel de mâncare</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://image.flaticon.com/icons/png/512/440/440220.png" alt="Word to html" width="42" /> <a href = "{{ url_for('modificare_mancare_pret') }}">Modificare preț fel de mâncare</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/market-economy-3/512/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-512.png" alt="Word to html" width="45" /> <a href = "{{ url_for('modificare_inventar_nume') }}">Modificare nume inventar</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/market-economy-3/512/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-512.png" alt="Word to html" width="45" /> <a href = "{{ url_for('modificare_inventar_cantitate') }}">Modificare cantitate inventar</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/market-economy-3/512/Supply-marketeconomy-factory-supplier-distribution-rawmaterial-512.png" alt="Word to html" width="45" /> <a href = "{{ url_for('modificare_inventar_furnizor') }}">Modificare furnizor inventar</a></li>
    </ol>

</td>
<td style="text-align: left">
    <h3 style="color: #62340e;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opțiuni avansate</h3>
    <p>&nbsp;</p>
    <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
    <li style="clear: both;"><img style="float: left;" src="https://cdn2.iconfinder.com/data/icons/medals-and-rewards/32/80-512.png" alt="interactive connection" width="45" /> <a href = "{{ url_for('best_produs') }}">Cel mai vândut produs</a></li>

    <li style="clear: both;"><img style="float: left;" src="https://cdn0.iconfinder.com/data/icons/business-290/100/round-solid-business-set6-06-512.png" alt="interactive connection" width="45" /> <a href = "{{ url_for('bilant_zilnic') }}">Bilanț zilnic</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://cdn2.iconfinder.com/data/icons/shopping-online-e-commerce-store/512/top_seller_list_special-512.png" alt="interactive connection" width="45" /> <a href = "{{ url_for('top_produse') }}">Top produse vândute</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://image.flaticon.com/icons/png/512/1466/1466703.png" alt="interactive connection" width="40" /> <a href = "{{ url_for('castig_luna') }}">Câștig pentru o lună</a></li>
    <li style="clear: both;"><img style="float: left;" src="https://image.flaticon.com/icons/png/512/1466/1466703.png" alt="interactive connection" width="40" /> <a href = "{{ url_for('castig_data') }}">Câștig pentru o dată</a></li>
    </ol>

</td>
</tr>
</tbody>
</table>